:root {
    --fonce: #092834;
    --pale: #E4F1F6;
    --inner:#475E67;
}

body {
    background-color: var(--fonce);
    height: 100%;
    margin: 0;
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}

.icon {
    color: var(--pale);
    background-color: var(--fonce);
    border: var(--fonce);
    display: block;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 40px;
}

.filled {
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

.unfilled {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

button.icon:hover .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

#light {
    margin-left: auto;
    margin-right: 10px;
}