:root {
    --fonce: #092834;
    --pale: #E4F1F6;
    --inner:#475E67;
}

body {
    background-color: var(--fonce);
    height: 100%;
    margin: 0;
    position:relative;
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}

.icon {
    color: var(--pale);
    background-color: var(--fonce);
    border: var(--fonce);
    display: block;
    cursor: pointer;
}

#close {
    margin-bottom: 25px;
}

.toolbar {
    position:absolute;
    display: block;
    top: 40px;
    right: 15px;
    gap: 10;
    border-radius: 25px;
    padding: 7px;
}

.toolbar .material-symbols-outlined {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tool {
    color: var(--fonce);
    background-color: var(--pale);
    border: var(--pale);
    display: block;
    cursor: pointer;
}

#closed {
    background-color: var(--fonce);
    color: var(--pale);
    display: none;
}

#opened {
    border: var(--pale);
    background-color: var(--pale);
    color: var(--fonce);
}

.material-symbols-outlined {
    font-size: 40px;
}

.filled {
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

.unfilled {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

button.unfilled:hover .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}