:root {
    --fonce: #092834;
    --pale: #E4F1F6;
    --inner:#475E67;
}

body {
    background-color: var(--fonce);
    height: 100%;
    margin: 0;
    position:relative;
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}

.icon {
    color: var(--pale);
    background-color: #09283400;
    border: var(--fonce);
    display: block;
    cursor: pointer;
}

.toolbar {
    position:absolute;
    display: block;
    border: 3px solid var(--pale);
    background-color: var(--pale);
    color: var(--fonce);
    top: 15px;
    right: 15px;
    gap: 10;
    border-radius: 40px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

.tool {
    color: var(--fonce);
    background-color: var(--pale);
    border: var(--pale);
    display: block;
    cursor: pointer;
}

.disabled {
    color: var(--inner);
    cursor: default;
}

/* Toolbar ouverte (X) */
#opened {
    transform-origin: top;           /* pour l’effet haut-bas */
    transform: scaleY(1);
    transition: transform 0.4s ease;
}

/* Toolbar fermée */
#opened.hidden {
    transform: scaleY(0);
    pointer-events: none;            /* empêche les clics */
}

/* Bouton + (fermé) */
#closed {
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

/* Quand + est visible */
#closed.visible {
    opacity: 1;
    pointer-events: auto;            /* permet de cliquer */
    background-color: var(--fonce);
}


.material-symbols-outlined {
    font-size: 40px;
}

.filled {
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.unfilled {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

button.icon:hover .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

button.tool:hover .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

button.disabled:hover .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}