.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;  /* centre le contenu */
    align-items: center;
    position: relative;       /* nécessaire pour positionner des éléments absolus dans la section */
}

.center-content {
    font-size: 2rem;
}

#back {
    position: absolute;
    top: 25px;
    left: 25px;
}

.choix:hover {
    border: 5px solid var(--pale);
}

.gametools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.level {
    font-weight: bold;
    background-color: var(--fonce);
    color: var(--pale);
    border: 2px solid var(--pale);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 5px;
    margin-bottom: 30px;
}

.level.selected {
  background-color: var(--pale);
  color: var(--fonce);
}

.active:hover {
  background-color: var(--pale);
  color: var(--fonce);
}

.gametools .icon .material-symbols-outlined {
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.piece {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--fonce);
    border: 5px solid var(--inner);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
}

.score {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--fonce);
    border: 2px solid var(--inner);
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 5px;
    margin-left: 5px;
}

.line {
    display: flex;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    /* pour que le centre soit le vrai centre */
    position: relative;
    height: 0;
}

.side-content {
    position: absolute;
    left: 2px;
}

.secretCode {
    background-color: var(--pale);
    border-radius: 50px;
    height: 50px;
    width: 280px;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}